.auth {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

  .content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .auth-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .submit {
    margin-top: 20px;
  }

  .full-width {
    width: 100%;
  }

  a {
    color: rgba(0, 0, 0, 0.54);
  }
}
